body {
	margin: 0;
	padding: 0;
    font-family: 'Lato', sans-serif;
}


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 0.5; /* Firefox */
}

#map {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100vw;	/* 100% of viewport width */
	height: 100vh;	/* 100% of viewport height */
}

/* Modal styles */
#screen {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.6;
    z-index: 1;
    display: none;
}

.modal {
    display: none;
    width: 40vw;
    height: 60vh;
    position: absolute;
    margin: auto;
    top: 0;
    bottom:0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
    padding: 30px;
    font-family: 'Lato', sans-serif;
    color: white;
    overflow-y: auto;
    font-size: 13px;
}

.modal>.modal-title {
    
}

.modal>.modal-body{
   
}

.modal>.close-button {
    color: #cccccc;
    position:absolute;
    right: 0;
    top: 0;
    margin: 10px;
    background: none !important;
    border: none !important;
    font-size: 20px;
    cursor: pointer;
}

.modal>.close-button:hover {
    color: #bbbbbb !important;
}

.modal>.img { 
	width: 90%;
	padding: 20px;
}

.button-default {
    background-color: #303030;
    border-radius: 2px;
    margin-left: 15;
    margin-bottom: 30;
    color: white;
    padding: 10px 15px;
    font-size: 12px;
    cursor: pointer;
    border: none;
    z-index: 1;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.button-default:hover {
    background-color: darkred;
    color: darkgrey;
}

#about {
    position: absolute;
    right: 70;
    bottom: 90;
    font-family: 'Lato', sans-serif;
    z-index: 1;
}

#reset {
    position: absolute;
    right: 64;
    bottom: 135;
    font-family: 'Lato', sans-serif;
    z-index: 1;
}

.map-overlay {
    position: absolute;
    text-align: center;
    background:linear-gradient(to top, rgba(0,0,0,0.0), rgba(0,0,0,0.9));
    margin: 0px 0px;
    font-family: 'Major Mono Display', monospace;
    font-size: 13px;
    color: white;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;   
    font-weight: lighter;
}



#info-window {
    top: 0;
    left: 0;
    width: 100vw;
    padding-top: 2px;
    padding-bottom: 5px;
}

#more-info {
    top: 70px;
    right: 10px;
    width: 180px;
    height: 80vh;
    font-family: 'Lato', sans-serif;
    background: linear-gradient(to top, rgba(255,255,255,0), rgba(255,255,255,0.4));
    font-size: 12px;
}


#layers-control {
    position: absolute;
    right: 40;
    top: 200;
    z-index: 1;
    width: 150px;
}

#layers-control a {
    font-size: 13px;
    color: white;
    display: block;
    padding: 5px;
    text-decoration: none;
    border-bottom: 2px solid rgba(0,0,0,0.25);
    text-align: center;
    background-color: #303030;
    margin-bottom: 7px;
}

#layers-control a:last-child {
    border: none;
}

#layers-control a:hover {
    background-color: red;
}

#layers-control a.active {
    background-color: darkred;
    color: #ffffff;
}

#layers-control a.active:hover {
    background: red;
}

.opacity-ctrl {
        position: absolute;
        top: 320px;
        right: 10px;
        z-index: 1;
        width: 195px;
    }

.opacity-ctrl label {
    display: block;
    margin: 0 0 10px;
    font-size: 13px;
    color: white;
}

.opacity-ctrl input {
    background-color: transparent;
    display: inline-block;
    width: 100%;
    position: relative;
    margin: 0;
    cursor: ew-resize;
}

.filter-ctrl {
        position: absolute;
        top: 15px;
        right: 10px;
        z-index: 1;
        width: 195px;
    }

.filter-ctrl input[type=text] {
    font: 12px/20px 'Lato', sans-serif;
    width: 100%;
    border: 0;
    background-color: rgba(255,255,255,0.1);
    height: 30px;
    margin: 0;
    color: rgba(0,0,0,.8);
    padding: 10px;
    box-shadow: 0 0 0 2px rgba(0,0,0,0.1);
    border-radius: 1px;
}


.mapboxgl-popup-content {
    background:rgba(0, 57, 77, 0.7);
    border: 1px solid #0d6e91;
    border-radius: 0;
}

.mapboxgl-popup-tip {
    border-top-color: rgba(0, 57, 77, 0.75) !important;
}

.mapboxgl-popup-close-button {
    font-size: large;
    font-style: unset;
    color: white;
    padding: 0px 6px;
    font-weight: 300;
}

.mapboxgl-ctrl.mapboxgl-ctrl-attrib { background: none; }